.forgotPassword {
  color: var(--login-title, #574d68);
  font-family: 'Poppins';
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.dontWorry {
  color: var(--Default-body, #222);
  font-family: 'Poppins';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  margin: 24px 0px;
}

.submitBtn {
  border-radius: 6px;
  background: var(--Foundation-Primary-primary-500, #5448b2);
  display: flex;
  height: 48px;
  padding: 0px 16px;
  justify-content: center;
  align-items: center;
  color: var(--Default-white, #fff);
  font-family: 'Poppins';
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  display: block;
  width: 100%;
  margin-top: 32px;
}

.parent {
    width: 100%;
    max-width: 560px;
}