// .root {
// }

.cardDiv {
  display: flex;
  flex-direction: column;
  // width: 325px; //new theme 
  height: 100vh;
  color: #000000;
  // background-color: #ffffff;
  // border-radius: 16px;
  padding: 16px;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  text-decoration: none;
  // border-radius: 16px;
  background: var(--Default-white, #fff); //new theme 
  box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.03);  //new theme 
}

.cardDivOpened {
  height: 500px; //increase when more settings tabs added
  display: flex;
  flex-direction: column;
  width: 325px;
  color: #000000;
  background-color: #ffffff;
  border-radius: 16px;
  padding: 16px;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  justify-content: flex-start;
  text-decoration: none;
}

.navLink {
  color: black; //rgb(255, 59, 92);
  display: flex;
  width: 100%;
  padding: 16px 0px 16px 16px;
  align-items: center;
  gap: 8px 8px;
  justify-content: start;
  align-content: center;
  justify-items: center;
  text-decoration: none;
}

.selected {
  // background-color: rgb(255, 59, 92) !important;
  color:  rgb(255, 59, 92); //#ffffff;
  display: flex;
  width: 293px;
  padding: 16px 0px 16px 16px;
  align-items: center;
  align-items: center;
  gap: 8px 8px;
  justify-content: start;
  align-content: center;
  justify-items: center;
  border-radius: 6px;
  text-decoration: none;
}
//  old theme
// .selectedStroke path {
//   stroke: #ffffff !important;
// }

.selectedStroke path {
  stroke: rgb(255, 59, 92) !important;
}

.selectedStroke circle {
  stroke: rgb(255, 59, 92) !important;
}

#svg-section svg {
  // font-size: 25px;
  width: 24px;
  height: 24px;
}

.linkWord {
  margin: 0px 0px 0px 0px;
  padding: 0px;
  width: 100%;
  display: flex;
  justify-items: start;
  text-decoration: none;
  // color:black;
}

.rotate {
  transform: rotate(180deg);
  /* Rotate and translate to the right */
  transform-origin: center center;
  padding: 0;
  margin: 0;
  width: 16px;
  height: 9px;
}

.notRotated {
  padding: 0;
  margin: 0;
  width: 16px;
  height: 9px;
}


// //new theme 
.sidebarTextStyle {
  color: rgb(122 124 133 / 50%) !important; 
  font-family:  Arial, Tahoma, PingFangSC, sans-serif;
  font-size: 16px;
  line-height: 21px;
  text-align: left;
}

.sidebarLoginBox{
    position: relative;
    padding: 20px 8px 24px;
    margin: 0px;
}

.sidebarLogin {
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  color: rgb(255, 59, 92);
  border-color: rgb(255, 59, 92);
  background-color: rgba(255, 255, 255, 0.08);
  min-width: 168px;
  min-height: 48px;
  font-size: 18px;
  line-height: 25px;
  font-weight: 600;
  font-family: TikTokDisplayFont, PingFangSC, sans-serif;
  display: flex;
  position: relative;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding: 6px 8px;
  user-select: none;
  cursor: pointer;
  box-sizing: border-box;
  margin-top: 20px;
  width: 100%;
}

// end new theme 



// .darkTheme , .div_black > * 
div.darkTheme {
  background: rgb(18, 18, 18) !important;
  // color:white !important;
}



// div.darkTheme div.selected  {
//   background: rgb(198, 17, 17) !important;
//   // color:white !important;
// }
.darkTheme div {
  background: rgb(18, 18, 18) !important;
  // color:white !important;
  
}

.lightTheme div {
  background: white !important;
  // color:black !important;
  
}

div.darkTheme > p > h1, h2, h3, h4  {
  color:white !important;
}

div.darkTheme p{
  color:white !important;
}

div.darkTheme .selected p{
  color:rgb(255, 59, 92) !important;
}

div.darkTheme input{
  background: rgb(255, 255, 255) !important;
  color:black !important;
}

.darkThemeblack {
  background: black !important;
}

div.darkThemeblack div{
  background: black;
  color:white ;
}

div.darkThemeblack p{
  color: white !important;
}

.textWhiteColor{
  color:white;
}


.textBlackColor{
  color:black;
}

.sideBarLinks{
    font-size: 15px;
    line-height: 22px;
    margin-top: 5px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.5) !important;
    font-family: TikTokDisplayFont;
    font-weight: 700;
    text-align: left;
    cursor: pointer;
    
}

.divFooterContainer {
  position: relative;
  padding-top: 16px;
  padding-left: 8px;
}

.DivLinkContainer {
  margin-bottom: 8px;
}

.ALinkStyledNavLink {
  color: rgba(255, 255, 255, 0.5);
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  display: inline-block;
  margin-right: 6px;
  margin-top: 5px;
  text-align: left;
}

.SpanCopyright {
  color: rgba(255, 255, 255, 0.5);
  font-family: TikTokFont, Arial, Tahoma, PingFangSC, sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  display: inline-block;
  margin-right: 6px;
  margin-top: 5px;
}

.activeClass{
  color:white !important;
}