// .root {
// }

.cardDiv {
  display: flex;
  flex-direction: column;
  width: 325px;
  height: 312px;
  color: #000000;
  background-color: #ffffff;
  border-radius: 16px;
  padding: 16px;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  text-decoration: none;
}

.cardDivOpened {
  height: 460px; //increase when more settings tabs added
  display: flex;
  flex-direction: column;
  width: 325px;
  color: #000000;
  background-color: #ffffff;
  border-radius: 16px;
  padding: 16px;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  justify-content: flex-start;
  text-decoration: none;
}

.navLink {
  color: #5448b2;
  display: flex;
  width: 100%;
  padding: 16px 0px 16px 16px;
  align-items: center;
  gap: 8px 8px;
  justify-content: start;
  align-content: center;
  justify-items: center;
  text-decoration: none;
}

.selected {
  background-color: #5448b2 !important;
  color: #ffffff;
  display: flex;
  width: 293px;
  padding: 16px 0px 16px 16px;
  align-items: center;
  align-items: center;
  gap: 8px 8px;
  justify-content: start;
  align-content: center;
  justify-items: center;
  border-radius: 6px;
  text-decoration: none;
}

.selectedStroke path {
  stroke: #ffffff !important;
}

.selectedStroke circle {
  stroke: #ffffff !important;
}

#svg-section svg {
  // font-size: 25px;
  width: 24px;
  height: 24px;
}

.linkWord {
  margin: 0px 0px 0px 0px;
  padding: 0px;
  width: 100%;
  display: flex;
  justify-items: start;
  text-decoration: none;

}

.rotate {
  transform: rotate(180deg);
  /* Rotate and translate to the right */
  transform-origin: center center;
  padding: 0;
  margin: 0;
  width: 16px;
  height: 9px;
}

.notRotated {
  padding: 0;
  margin: 0;
  width: 16px;
  height: 9px;
}