.menuItem {
  width: 100%;
  display: flex;
  gap: 0.5rem;
  padding: 1rem;

}
.menuItem img {
    width: 18px;
    height: 24px;

}
.menuItem p {
  // color: var(--Default-body, #222);
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
// .menuItem:hover {
//   background-color: #eaeaea;
// }
