.root {
  width: 325px;
  height: 680px;
  background-color: #ffffff;
  display: inline-flex;
  padding: 16px 0px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}
.suggestedAccountsDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.activityDiv {
}
.seperatorDiv {
}
.suggestedHeader {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 8px;
  padding-top: 8px;
}
.suggestedContent {
}
.headerTitle {
  color: #000;
  padding-left: 0px;
  padding-bottom: 0px;
}
