.root {
  width: 325px;
  height: 100%;
  background-color: #ffffff;
  display: inline-flex;
  padding: 16px 0px;
  flex-direction: column;
  align-items: flex-start;
  // gap: 24px;
  margin-bottom: 0px;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}


.suggestedAccountsDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 0px;
  // padding-bottom: 24px;
  // height: 316px;
}

.activityDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 0px;
  padding-bottom: 24px;
  height: 316px;
  margin: 0px 16px 0px 0px;
}

.seperatorDiv {
  width: 100%;
  align-self: center;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.suggestedHeader {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 4px;
  padding-top: 4px;
  justify-items: center;
  align-items: center;
}

.suggestedContent {
  width: 100%;
  padding: 8px 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-items: center;
  justify-content: start;
  align-content: center;
  justify-content: space-between;
  line-height: 1;
}

.suggestedContentActivity {
  width: 100%;
  padding: 8px 17px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-items: center;
  justify-content: start;
  align-content: center;
  justify-content: space-between;
  line-height: 1;
}

.headerTitle {
  color: var(--default-body, #222);
  /* H2/Semibold */
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  /* 21.6px */
}

.nameText {
  color: #000;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  padding-bottom: 0px;
  line-height: 1;
  margin-bottom: 0px;
  margin-top: 5px;
  align-self: baseline;
}

.nameText h4 {
  margin: 0;
}

.plusIconStyle {
  width: 46px;
  margin-right: 16px;
  height: 46px;
  border-radius: 64px;
}

.subNameText {
  color: #a9a9a9;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.accountName {
  margin-right: 20px;
  display: flex;
  flex-direction: row;
  // gap: 8px 8px;
  justify-items: start;
  align-items: start;
  align-content: start;
  justify-content: start;
  line-height: 1;
  // flex-wrap: wrap;
  align-self: start;
  text-align: start;
}

.speratorLine {
  height: 1px;
  width: 90%;
}

.normal-word {
  color: #000;
  /* Base/Regular */
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

#svg-section svg {
  width: 100%;
}

.linkText {
  /* Small/Medium */
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  /* 16.8px */
  text-decoration: none;
  line-height: 150%;
  color: #5448B2;
}

.suggestedItem {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  align-items: center;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  align-items: center;
  margin: 5px 20px 5px 0px;
}

.svgButton {
  width: 36px;
  height: 36px;
  margin: 0;
  padding: 0;
  border-radius: 50%;
  background: none;
}

.svgButton:hover {
  background: none;
  border: none;
}

.notificationFrame {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.notificationUser {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 5px 20px 5px 0px;
}

.notificationMessage {
  display: inline;
  width: 150px;
  height: 32px;
  flex-direction: row;
  justify-content: baseline;
  align-items: start;
  color: var(--default-body, #222);

  /* Base/Regular */
  font-family: Poppins;
  font-size: 13.5px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

}

.squareIconStyle {
  display: flex;
  width: 46px;
  height: 46px;
  justify-content: center;
  align-items: center;
}

.timeText {
  margin-left: 5px;
  display: inline;
  color: var(--foundation-body-body-200, #999);

  /* Small/Regular */
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}