.parent {
  padding-top: 80px;
  width: 100%;
  .event {
    margin: 50px 40px;
    overflow: hidden;
  }
}

// Headers Style
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .LHS > img:nth-child(1) {
    cursor: pointer;
    width: 21.5px;
    height: 21.5px;
    margin: auto;
  }
  .LHS {
    display: flex;
    gap: 20px;
    .avatarContainer {
      display: flex;
      align-items: center;
      gap: 20px;
      .avatar {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        cursor: pointer;
      }
      .name > span {
        font-family: Poppins;
        font-size: 12px;
        font-weight: 400;
        line-height: 14.4px;
        text-align: left;
      }
      .name {
        font-family: Poppins;
        font-size: 16px;
        font-weight: 600;
        line-height: 19.2px;
        text-align: left;
        color: #222222;
      }
      .name > img {
        margin-right: 0.25rem;
      }
    }
    .avatarContainer > div:nth-child(2) {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  }
  .RHS {
    display: flex;
    gap: 2rem;
  }
}

// Live Video Player
.livePlayer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-height: 80vh;
  overflow: hidden;
  border-radius: 8px;
  margin-top: 1.5rem;
}

// Gifts Section
.giftsParent {
  background: #fff;
  padding: 1rem 0px;
  .gifts {
    width: 100%;
    overflow-y: scroll;
    display: flex;
    gap: 1rem;
    .giftContainer {
      min-width: 75px;
      user-select: none;
      border-radius: 4px;
      overflow: hidden;
      cursor: pointer;
      .gif {
        height: 75px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .gif > img {
        width: 70px;
      }
      .giftContent > img {
        width: 16px;
        height: 16px;
      }
      .giftContent {
        display: flex;
        justify-content: center;
        align-items: center;
        .prize {
          font-family: Poppins;
          font-size: 16px;
          font-weight: 600;
          line-height: 24px;
          text-align: left;
          color: #fed04f;
          padding-left: 6px;
        }
      }
    }
    .giftContainer:hover {
      background: #eeedf7;
    }

    .sendMsg {
      background: #5448b2;
      font-family: Poppins;
      font-size: 12px;
      font-weight: 500;
      line-height: 18px;
      text-align: left;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 28px;
      color: #ffffff;
    }
  }
  .rechargeUi{
    display: flex;
    justify-content: space-between;
  }
}
