.main-container {
  border-radius: 20px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 0 50px 0 51px;
  width: 375px;
  height: 283px;
  flex-shrink: 0;
}

@media (max-width: 991px) {
  .main-container {
    padding: 0 20px;
  }
}

.header {
  color: var(--default-body, #222);
  text-align: center;
  margin-top: 29px;
  font: 400 16px/24px Poppins, -apple-system, Roboto, Helvetica, sans-serif;
}

.image-wrapper {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 154px;
  overflow: hidden;
  align-self: center;
  max-width: 100%;
  margin: 20px 0 29px;
}
