.profileHeader {
    width: 100%;

    .banner {
        position: relative;
        width: 100%;
        height: 285px;
        border-radius: 8px;
        overflow: hidden;
        background-color: rgb(179, 178, 178);

        .bannerImg {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }

        .banerIcon {
            position: absolute;
            z-index: 20;
            right: 16px;
            top: 16px;
            width: 32px;
            height: 32px;
            border-radius: 6px;
            background: #eeedf7;
            cursor: pointer;
        }
    }

    .bottomContainer {
        position: relative;
        z-index: 2;
        width: 100%;
        display: flex;
        justify-content: space-between;
        overflow: hidden;
        margin-top: -50px;
        padding-left: 24px;

        .avatarBox {
            width: 130px;
            height: 130px;
            border-radius: 130px;
            overflow: hidden;
            cursor: pointer;

            .avatarImg {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .avatarBox2 {
            width: 130px;
            height: 130px;
            border-radius: 130px;
            overflow: hidden;
            border: 2px solid #641a92;
            padding: 3px;
            cursor: pointer;

            .avatarImg {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .button {
            margin-top: 50px;
            display: inline-flex;
            height: 40px;
            padding: 0px 12px;
            justify-content: center;
            align-items: center;
            flex-shrink: 0;
            border-radius: 6px;
            background: #5448b2;
            gap: 10px;
            color: #fff;
            font-size: 14px;
            font-weight: 600;
        }
    }

    .pfContent {
        margin-top: 28px;
        text-align: left;

        .userInfo {
            display: flex;
            gap: 16px;
        }

        .userStats {
            display: flex;
            margin-top: 24px;
            gap: 32px;

            .statContainer {
                display: flex;
                gap: 0.5rem;
                cursor: pointer;
            }
        }

        .links {
            display: flex;
            gap: 8px;
            margin-top: 24px;

            .linkContainer {
                display: flex;
                gap: 8px;
                cursor: pointer;
            }
        }

        .about {
            color: v#222;
            font-family: Poppins;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 120%;
            /* 19.2px */
            margin-top: 24px;
        }

        .actions {
            display: flex;
            gap: 16px;
            margin-top: 24px;

            .button {
                display: inline-flex;
                height: 40px;
                padding: 0px 12px;
                justify-content: center;
                align-items: center;
                flex-shrink: 0;
                border-radius: 6px;
                background: #5448b2;
                gap: 10px;
                color: #fff;
                font-size: 14px;
                font-weight: 600;
            }

            .button2 {
                display: inline-flex;
                height: 40px;
                font-size: 14px;
                font-weight: 600;
                padding: 0px 12px;
                justify-content: center;
                align-items: center;
                flex-shrink: 0;
                border-radius: 6px;
                background: white;
                gap: 10px;
                color: #5448b2;
                border: 1.5px solid #5448b2;
            }
        }
    }

    .button3 {
        display: inline-flex;
        height: 40px;
        padding: 0px 12px;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        gap: 10px;
        color: #5448b2;
        border: 0;
        border-radius: 6px;
        background: var(--foundation-primary-primary-50, #eeedf7);
        position: relative !important;
        // display: block;
    }

    .addStoryIcon {
        margin-top: -20px;
        z-index: 1000000;
        background: white;
        border-radius: 50%;

        &:hover {
            cursor: pointer;
        }
    }

    .boldText {
        color: #222;
        font-family: Poppins;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 120%;
    }

    .text {
        color: #222;
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
    }

    .link {
        color: #5448b2;
        font-family: Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;

        /* 21px */
    }
}

.followModal {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    overflow: auto;
    padding-top: 30px;
    height: 100%;

    @media (max-width: 968px) {
        padding: 0;
    }
}

.modalContainer {
    max-width: 50%;

    @media (max-width: 968px) {
        max-width: 100%;
    }
}

.dropdown {
    position: absolute;
    top: 100%;
    left: 0%;
    display: flex;
    width: 206px;
    height: 128px;
    padding: 8px 16px;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 8px;
    background: var(--default-white, #fff);
    box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.08);
    margin-top: 4px;
    font-weight: 400;
    font-size: 16px;
    color: var(--default-body, #222);
}

.dropdown > div {
    height: 56px;
    width: 174px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.dropdown > div:hover,
.dropdown2 > div:hover {
    background-color: lightgray;
}

.dropdown img {
    height: 24px;
    width: 24px;
}
