/* ===========================
   ====== Search Box ====== 
   =========================== */

ul {
  margin: 0;
  padding: 0;
}

.searchInput {
  border-radius: 3px;
  position: static;
  margin: 0;
  padding: 0px 2rem 0px 52px;
  margin-bottom: 0;
  height: 40px;
  max-height: 40px;
  top: -120px;
  border: 0 solid black;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0);
  font-size: 16px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  color: #acacac;
  background: no-repeat padding-box border-box 20px center / auto scroll url(../../assets/Search.svg) #f8f8f8;
  background-size: 3%;

  width: 602px;

  &:focus {
    border: 0 solid black;
    outline: 0;
    color: #000000;
  }
}

/* Add this CSS to your component's CSS or use makeStyles for styling */
.modal-container {
  position: absolute;
  width: 360px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 16px;
  border-radius: 4px;
  outline: none;

  display: inline-flex;
  padding: 24px;
  flex-direction: column;
  align-items: center;
  gap: 21px;

  border-radius: 8px;
  background: #FFF;
}

.modal-container h6 {
  color: var(--default-body, #222);

  /* H2/Medium */
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  /* 27px */
  /* 27px */
  padding-bottom: 0;
  margin-bottom: 0;
}

.modal-container p {
  color: var(--default-body, #222);
  text-align: center;

  /* Small/Regular */
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 21px */
  padding-bottom: 0;
  margin-bottom: 0;
}

.clear-btn {
  display: flex;
  width: 311px;
  height: 40px;
  padding: 0px 12px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6px;
  border: 1px solid var(--foundation-primary-primary-500, rgb(255, 59, 92));
  background: var(--foundation-primary-primary-500, rgb(255, 59, 92));

  color: var(--default-white, #FFF);

  /* Small/Semibold */
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  /* 16.8px */
}

.cancel-btn {
  display: flex;
  width: 311px;
  height: 40px;
  padding: 0px 12px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

  border-radius: 6px;
  border: 1px solid var(--foundation-primary-primary-500, rgb(255, 59, 92));
  background: var(--default-white, #FFF);

  color: var(--foundation-primary-primary-500, rgb(255, 59, 92));

  /* Small/Semibold */
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  /* 16.8px */

}

.header-searchDropDown {
  color: var(--default-body, #222);
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  padding: 0;
  margin-top: 8px;

}

.header-seccondary {
  color: var(--foundation-body-body-300, #6B6B6B);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

/* .MuiAutocomplete-noOptions {
  display: none;
} */



.suggestedItemDiv {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  align-items: center;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  align-items: center;
  /* margin: 5px 20px 5px 0px; */
  padding: 4px 4px 0px 0px;
  margin-bottom: 31px;
}

.suggestedItemDiv :hover {
  cursor: pointer;
  background-color: #d8d8d89c;
  border-radius: 8px;
}

.suggestedItem {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  align-items: center;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  align-items: center;
  /* margin: 5px 20px 5px 0px; */
  padding: 4px 4px 0px 0px;
}

.suggestedItem :hover {
  cursor: pointer;
  background-color: transparent;
  border-radius: 8px;
}


.plusIconStyle {
  width: 46px;
  margin-right: 16px;
  height: 46px;
  border-radius: 64px;
}

.accountName {
  margin-right: 20px;
  display: flex;
  flex-direction: row;
  /* // gap: 8px 8px; */
  justify-items: start;
  align-items: start;
  align-content: start;
  justify-content: start;
  line-height: 1;
  /* // flex-wrap: wrap; */
  align-self: start;
  text-align: start;
  margin-bottom: 31px;
}

.nameText {
  color: #000;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  padding-bottom: 0px;
  line-height: 1;
  margin-bottom: 0px;
  margin-top: 5px;
  align-self: baseline;
}

.nameText h4 {
  margin: 0;
}

.searchResultsDiv {
  display: flex;
  flex-direction: column;
  padding: 16px;
  overflow-y: hidden;
}

.searchSuggestionsTextDiv {
  margin-bottom: 17px;
  padding: 15px;
  padding-left: 0;
}

.searchSuggestionsTextDiv:hover {
  cursor: pointer;
  background-color: #d8d8d89c;
  border-radius: 8px;
}

.seeMoreTextDiv {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  align-items: center;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  align-items: center;
  /* margin: 5px 20px 5px 0px; */
  padding: 4px 4px 0px 0px;

  color: var(--default-body, #222);

  /* Base/Medium */
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  /* 19.2px */
}

.seeMoreTextDiv:hover {
  cursor: pointer;
  background-color: transparent;
  border-radius: 8px;
}