/* ===========================
   ====== Search Box ====== 
   =========================== */

   .searchInput {
    border-radius: 3px;
    position: static;
    margin: 0;
    padding: 1.8rem 2rem 1.8rem 5rem; /* Adjusted padding values */
    margin-bottom: 0;
    height: 40px;
    top: -120px;
    border: 0 solid black;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0);
    font-size: 16px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    color: #acacac;
    background: no-repeat padding-box border-box 30px center / auto scroll
      url(../../assets/search.png) #f8f8f8;
    background-size: 2%;
  
    width: 100%;
    &:focus {
      border: 0 solid black;
      outline: 0;
      color: #000000;
    }
  }
