.parent {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.videoModalContainer {
    max-width: 1141px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: #fff;
}

.reportPopup {
    max-width: 529px;
    height: 574px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:5% auto;
}