.parent {
    width: 100%;
}

.postModal {
    width: 480px;
    border-radius: 8px;
    background: var(--Default-white, #FFF);
    padding: 32px;
    margin: 40vh auto;
}

.postModal>p:nth-child(1) {
    color: var(--Default-body, #222);
    font-family: 'Poppins';
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    text-align: center;
    line-height: 120%;
}

.BTNS {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
}

.BTNS button {
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    height: 48px;
    padding: 0px 16px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 6px;
    border: 1px solid var(--Foundation-Primary-primary-500, #5448B2);
    background: var(--Default-white, #FFF);
    color: var(--Foundation-Primary-primary-500, #5448B2);
    font-family: 'Poppins';
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
}

.userModal {
    padding: 32px;
    background-color: #FFF;
    margin: 15vh auto;
    border-radius: 8px;
    width: 571px;
    overflow-y: scroll;
    max-height: 627px;
}

.searchBar {
    display: flex;
    gap: 10px;
    height: 48px;
    border: 1px solid var(--Foundation-Neutral-neutral-300, #D1D1D1);
    border-radius: 6px;
    margin-bottom: 39px;
}

.searchBar img {
    width: 24px;
    margin: auto;
    height: 24px;
}

.searchBar>input {
    width: 85%;
    border: 0;
    outline: 0;
    color: var(--Foundation-Neutral-neutral-600, #A9A9A9);
    font-family: 'Poppins';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    border-radius: 6px;
}

.location p:nth-child(1) {
    color: var(--Default-body, #222);
    font-family: 'Poppins';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.locations {
    display: flex;
    flex-direction: column;
    gap: 24px;
    overflow: scroll;
}

.location {
    cursor: pointer;
    height: 48px;
}

.location p:nth-child(2) {
    color: var(--Foundation-Body-body-300, #6B6B6B);
    font-family: 'Poppins';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    margin-top: 4px;
}

.users {
    display: flex;
    flex-direction: column;
    gap: 24px;
    height: 300px;
    overflow-y: scroll;
}
.user {
    display: flex;
    gap: 17px;
    align-items: center;
    cursor: pointer;
}


.user>p {
    color: var(--Default-body, #222);
    font-family: 'Poppins';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
}

.user>img {
    width: 48px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 50%;
}

.text4 {
    color: #222;
    font-family: 'Poppins';
    font-size: 16px;
    font-style: normal;
    text-align: center;
    font-weight: 400;
    line-height: 150%;
    padding: 0% 2rem;
    margin-top: 32px;
}