

.darkTheme {
  background: black !important;
  color:white !important;
}

.darkTheme div {
  background: rgb(18, 18, 18) !important;
  color:white !important;
}

.lightdarkTheme {
  background: rgb(18, 18, 18) !important;
  color:white !important;
}

.darkTheme input {
  color:black !important;
}

div.darkTheme > p > h1, h2, h3, h4  {
  color:white !important;
}

div.darkTheme p{
  color:white !important;
}

div.darkTheme .black_text{
  color:black !important;
}

div.popupdiv :hover{
  color:black !important;
}

div.darkTheme div.darkWhiteTheme :hover{
  background: white !important;
  color:black !important;
}