.parent {
    max-width: 1140px;
    height: 697px;
    flex-shrink: 0;
    border-radius: 8px;
    margin: 60px auto;
    padding: 40px;
    background: var(--Default-white, #FFF);
}
@media (max-width:1200px) {
    .parent {
        height: auto;
        margin: 1rem;
        padding: 20px;
    }
    
}

.parent>div:nth-child(1) {
    border-radius: 8px;
    border: 1px dashed var(--Neutral, #BABABA);
    background: var(--Default-white, #FFF);
    padding: 80px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.imgParent {
    background-color: #EEEDF7;
    width: 71px;
    height: 71px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.text1 {
    color: var(--Default-body, #222);
    font-family: 'Poppins';
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    margin-top: 32px;
    padding: 0% 1rem;
}

.text2 {
    color: var(--Foundation-Body-body-200, #999);
    text-align: center;
    font-family: 'Poppins';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    margin-top: 16px;
    padding: 0% 1rem;
}

.parent button {
    display: flex;
    width:50%;
    height: 48px;
    padding: 0px 16px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    color: var(--Default-white, #FFF);
    border-radius: 6px;
    background: var(--Foundation-Primary-primary-500, #5448B2);
    font-family: 'Poppins';
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    margin-top: 40px;
    line-height: 120%;
}