.parent {
    max-width: 428px;
    background: #FFF;
    border-radius: 8px;
    padding: 24px;
}

.div1 {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;
}

.div1>p {
    color: var(--default-body, #222);
    text-align: center;
    font-family: 'Poppins';
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
}

.div1>img {
    position: absolute;
    right: 0%;
    top: 0%;

}

.div2 {
    color: var(--foundation-body-body-300, #6B6B6B);
    font-family: 'Poppins';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.div3 {
    border-radius: 6px;
    background: var(--foundation-primary-primary-50, #EEEDF7);
    display: flex;
    gap: 28px;
    padding: 12px 8px;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 16px;

}

.div3>p {
    color: var(--foundation-primary-primary-500, #5448B2);
    font-family: 'Poppins';
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}

.countCoinText {
    color: var(--default-body, #222);
    text-align: center;
    font-family: 'Poppins';
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
}

.QARText {
    color: var(--foundation-body-body-300, #6B6B6B);
    text-align: center;
    font-family: 'Poppins';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}

.div4 {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    margin-top: 24px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: 121px;
    height: 80px;
    border-radius: 4px;
    border: 1px solid var(--foundation-primary-primary-50, #EEEDF7);
    background: var(--default-white, #FFF);
    cursor: pointer;
}

.card>div:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.div5 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
    margin-top: 24px;
}

.div5>div {
    display: flex;
    gap: 8px;

}

.div5>div:nth-child(1)>p {
    color: var(--default-body, #222);
    text-align: center;
    font-family: 'Poppins';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
}

.div5>div:nth-child(2)>p {
    color: var(--foundation-body-body-300, #6B6B6B);
    text-align: center;
    font-family: 'Poppins';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    
}
.div5>div:nth-child(2) {
    cursor: pointer;

}

.btn {
    display: flex;
    width: 100%;
    height: 48px;
    padding: 0px 16px;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    background: var(--foundation-primary-primary-500, #5448B2);
    color: var(--default-white, #FFF);
    font-family: 'Poppins';
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
}