.emulator {
  background-image: url(.../../../../../public/images/icons/uploadSEc/Screen\ Background.svg);
  background-repeat: no-repeat;
  -webkit-box-reflect: initial !important;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}