.root {
  display: flex;
  flex-direction: column;
  background-color: #fafafa;
  width: 100%;
}

.topBarDiv {
  width: 100%;
}

.sideNavDiv {
  margin-top: 40px;
  margin-left: 40px;
  margin-bottom: 0px;
  padding: 0px;
}

.leftSide {
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 100%;
  justify-content: center;
}

.suggestedActivityDiv {
  margin-top: 40px;
  margin-left: 40px;
  margin-bottom: 0px;
  padding: 0px 0px 32px;
}

.middleSectionDiv {
  //   height: 1080px;
  width: fit-content;
  background-color: transparent;
  padding-top: 40px;
  // margin: 40px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: center;
  row-gap: 60px;
  margin: auto;

  // padding-left: 70px;
  column-gap: 0px;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  gap: 0px 200px;
  padding-right: 199px;
  padding-top: 0px;
}

.center {
  display: flex;
  width: 100%;
  align-self: center;
}

.paginationload {
  padding: 50px 0px;
}

@media only screen and (max-width: 600px) {
  .webView {
    display: none;
  }

  .postHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    color: #c1c6d0;
    z-index: 10;
    margin: auto;
    position: absolute;
    top: 48px;
    width: 100%;
    padding-left: 26px;
    padding-right: 26px;
  }

  .tabs {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  .tab:last-child {
    padding-right: 0px;
    border: none;
  }

  .tab {
    padding-right: 12px;
    font-size: 15px;
    border-right: 2px solid #c1c6d0;
  }

  .tabIcons {
    display: flex;
    align-items: center;
    gap: 15px;
    padding-bottom: 10px;
  }
}

.containerA {
  position: relative;
  width: 100%;
  height: 100vh;
  scroll-behavior: smooth;
  overflow: auto;
  scroll-snap-type: y mandatory;
}

.section {
  height: 100vh;
  background-size: cover;
  scroll-snap-align: start;
  margin-bottom: 10px;
}

@media only screen and (min-width: 600px) {
  .postHeader {
    display: none;
  }

  .mobileView {
    display: none;
  }
}