.notificationsContainer {
  padding: 16px;
}

.notificationList {
  padding: 10px 0px;
}

.inboxTitle {
  font-size: 24px;
  // color: #1a1a1a !important;
  font-weight: bold;
}

.inboxTabs {
  padding: 10px 0px;
}

.inboxList {
  max-height: 400px;
  overflow: scroll;
}

.inboxFollow {
  border: 1px solid rgb(255 59 74);
  padding: .25em 1em;
  font-size: 0.7em;
  font-weight: 500;
  background-color: rgb(255 59 74);
  cursor: pointer;
  color: #fff;
  border-radius: 5px;
  width: 120px;
}

.inboxFriends {
  border: 1px solid rgb(54 54 54);
  padding: .25em 1em;
  font-size: 1em;
  font-weight: 500;
  background-color: rgb(54 54 54);
  cursor: pointer;
  color: #fff;
  border-radius: 5px;
  display: ruby;
  width: 120px;
}

.inboxListInner {
  display: flex;
  align-items: center;
}

.buttontab {
  border: 1px solid #1a1a1a;
  padding: .25em 1em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: transparent;
  cursor: pointer;
  // color: #1a1a1a;
  border-radius: 50px;
  margin: 10px 10px 10px 0px;
}

.buttontab.active {
  color: rgb(255, 59, 92);
  padding: .25em 1em;
  border: 1px solid rgb(255, 59, 92);
}

.buttontab.activeBlack {
  color: rgb(255, 59, 92);
  // background-color:  #ad9e9e;
  padding: .25em 1em;
  border: 1px solid rgb(255, 59, 92);
}

.avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-right: 10px;
}

.mentionAvatar {
  width: 45px;
  height: 45px;
}

.inboxListItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.gridLine {
  position: relative;
}

.notificationReply {
  border-left: 1px solid #1a1a1a;
  margin-top: 5px;
  width: 230px;
}
.notificationUsername,.notificationContent{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 230px;
}
.notificationUsername,.inboxListDuration{
  font-weight: 600;
}
.notificationContent.notificationFollow,
.notificationUsername.notificationFollow{
  width: 170px;
}
.notificationReplyUser{
  margin-left: 10px;
  width: 220px;
}
.inboxNoLikes,.inboxNoComments,.inboxNoMentions {
  min-height: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.inboxBoldText{
  font-size: 22px;
  font-weight: bold;
}

/* Ensure the container of the buttons is using flexbox with a column layout */
.buttonContainer {
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin-top: 0px;
}

/* Style the buttons if necessary */
.inboxFollow {
  width: 100%; /* Optional: make buttons full width */
  padding: 8px 0; /* Adjust padding as needed */
}