.root {
  display: flex;
  flex-direction: column;
  background-color: #fafafa;
  width: 100%;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.topBarDiv {
  width: 100%;
}

.sideNavDiv {
  margin-top: 40px;
  margin-left: 40px;
  margin-bottom: 0px;
  padding: 0px;
}

.leftSide {
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 100%;
  // justify-content: center;
}

.suggestedActivityDiv {
  margin-top: 40px;
  margin-left: 40px;
  margin-bottom: 0px;
  padding: 0px 0px 32px;
}

.middleSectionDiv {
  display: inline-flex;
  gap: 15%;
  width: 100%;
  background-color: transparent;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  border-radius: 8px;
  margin-top: 45px;
  height: 798px;
  padding-right: 40px;
  position: relative;
  width: 100%;
}

.container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 0fr 1fr;
  flex-direction: row;
  gap: 0px 30px;
  padding-right: 40px;
  padding-top: 0px;
  // margin-top: 25px;
}

.blockUserPopup {
  background-color: #00000080;
  position: absolute;
  height: 112%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .popupMessageBlock {
    background-color: #ffffff;
    border-radius: 0.5rem;
    padding: 1rem;

    p {
      color: #222222;
      font-weight: 600;
      font-size: 1.1rem;
    }

    .blockButton {
      background-color: #de0c0c;
      border-radius: 0.375rem;
      color: #ffffff;
      width: 100%;
      margin-top: 1.5rem;
    }

    .cancelButton {
      background-color: #ffffff;
      border-radius: 0.375rem;
      color: #5448b2;
      width: 100%;
      margin-top: 1.5rem;
      border: 1px solid #5448b2;
    }
  }
}

.suggestedContent {
  width: 100%;
  // padding: 20px 16px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  // align-content: center;
  line-height: 1;
  // gap: 16px;
  background: var(--default-white, #fff);
  // min-height: 770px;
  border-radius: 16px;

  .chatlist {
    padding: 1.2rem;
    padding-right: 1rem;
    border-right: 1px solid #dfdfdf;

    .chatHeader {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      >p {
        font-weight: 600;
        font-size: 1.2rem;
      }
    }

    .searchChats {
      display: flex;
      margin: 1.5rem 0;
      background-color: #f8f8f8;
      border-radius: 0.25rem;
      padding: 0.5rem 1rem;

      >input {
        width: 100%;
        outline: none;
        font-size: 1rem;
        border: none;
        background-color: #f8f8f8;
        padding-left: 0.5rem;
        color: black;
      }

      >input::placeholder {
        color: #a9a9a9;
      }
    }

    .chatListContainer {
      height: 500px;
      overflow-y: scroll;
    }

    .allChats:hover {
      background-color: #dfdfdf !important;
    }

    .allChats {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      padding: 1rem 0;
      border-bottom: 1px solid #dfdfdf;
      padding-right: 1.5rem;
      padding-left: 1rem;

      .userAvatar {
        flex: 1;
      }

      .userNameNChat {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        flex: 4;
        text-align: left;

        p:first-of-type {
          font-weight: 600;
          color: #222222;
          font-size: 1.1rem;
        }

        p:nth-child(2) {
          display: inline;
          color: #6b6b6b;
          font-size: 0.9rem;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      .timeNCount {
        display: flex;
        flex-direction: column;
        align-items: end;
        text-align: right;
        justify-content: space-between;
        flex: 2;

        >p {
          font-size: 0.7rem;
          font-weight: 400;
          color: #6b6b6b;
        }

        .messageCount {
          display: flex;
          height: 1.3rem;
          width: 1.3rem;
          justify-content: center;
          align-items: center;
          background-color: #437ed7;
          border-radius: 100%;
          padding: 0.25rem;

          >p {
            color: white;
            font-size: 0.8rem;
            font-weight: 400;
          }
        }
      }
    }
  }

  .chatmessage {
    position: relative;
    overflow-y: hidden;

    .messageHeader {
      padding: 0.8rem;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #dfdfdf;

      .messageHeaderLeft {
        display: flex;
        align-items: center;
        gap: 0.8rem;

        >p {
          font-weight: 600;
          font-size: 1rem;
        }
      }

      .dropdownMenuContainer {
        position: relative;

        .dropdownMenuBoxImg {
          flex: 1;
          padding: 1rem;
        }

        .dropdownMenu {
          z-index: 999;
          background-color: #ffffff;
          position: absolute;
          right: 0px;
          padding: 0.4rem;
          border-radius: 0.5rem;
          box-shadow: 0px 0px 16px 1px #88888827;

          .dropdownRow {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 0.8rem;
            border-radius: 0.2rem;
            cursor: pointer;

            >p {
              font-weight: 400;
              font-size: 0.8rem;
              color: #222222;
              text-wrap: nowrap;
              padding-right: 2.5rem;
            }

            .warningMenuItem {
              color: #ca0b0b;
            }

            .starredMessagesRow {
              display: flex;
              flex-direction: row;
              justify-content: center;
              align-items: center;

              >p {
                font-weight: 400;
                font-size: 0.7rem;
                color: #999999;
                text-wrap: nowrap;
                padding-right: 0.5rem;
              }

              .arrowRight {
                height: 1.25rem;
                width: 1.25rem;
              }
            }
          }

          .dropdownRow:hover {
            background-color: #e1dede94;
          }
        }
      }
    }

    .messageBody {
      display: flex;
      flex: 1;
      height: 80% !important;
      justify-content: center;
      align-items: center;
      position: relative;

      .userName {
        top: 52%;
        position: absolute;
        line-height: normal;
        font-weight: 500;
        font-size: 1rem;
        color: #254576;

        >span {
          font-size: 0.9rem;
        }
      }
    }

    .messageBodyAvailable {
      display: flex;

      .markMessageContainer {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        background-color: #eeedf7;
        gap: 1.5rem;

        .markSafeMessageTextContainer {
          text-align: left;

          >p:first-child {
            color: #222222;
            font-weight: 500;
            font-size: 1rem;
          }

          >p:nth-child(2) {
            color: #999999;
            font-weight: 400;
            font-size: 0.625rem;
            margin-top: 0.5rem;
            line-height: normal;
          }
        }

        .markSafeButtonsContainer {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          gap: 0.5rem;

          .reportButton {
            cursor: pointer;
            width: 50%;
            border: 1px solid #5448b2;
            border-radius: 0.3rem;
            padding: 0.5rem 1.5rem;

            >p {
              color: #5448b2;
              font-weight: 600;
              font-size: 0.625rem;
            }
          }

          .reportButton:hover {
            background-color: #5448b2;

            >p {
              color: #ffffff;
            }
          }

          .markSafeButton {
            cursor: pointer;
            width: 50%;
            background-color: #5448b2;
            border: 1px solid #5448b2;
            border-radius: 0.3rem;
            padding: 0.5rem 1.5rem;
            text-wrap: nowrap;

            >p {
              color: #ffffff;
              font-weight: 600;
              font-size: 0.625rem;
            }
          }

          .markSafeButton:hover {
            background-color: #ffffff;

            >p {
              color: #5448b2;
            }
          }
        }
      }
    }

    .userChatMessages {
      padding: 2rem 1rem 4rem 1rem !important;
      height: 400px;
      overflow-y: scroll;

      .sentMessageRowContainer {
        display: flex;
        flex-direction: row;
        gap: 0.9rem;
        padding-bottom: 0.4rem;

        .userAvatarChatMessage {
          // height: 2.8rem;
          width: 2.8rem;
        }

        .sentMessageContainer {
          display: block;

          .sentMessage {
            display: flex;
            padding: 0.6rem 0.9rem;
            border-radius: 0.5rem 0.5rem 0.5rem 0;
            align-items: left;
            // height: 2.5rem;
            font-size: 1rem;
            font-weight: 400;
            color: #222222;
            background-color: #e9e9e9;
          }

          .sentMessageTimeStamp {
            margin-top: 0.6rem;
            padding-right: 0.5rem;
            text-align: right;
            font-size: 0.7rem;
            color: #6b6b6b;
            font-weight: 400;
          }
        }

        .optionsContainer {
          display: flex;
          height: 2.8rem;
          justify-content: center;
          align-items: center;
          gap: 0.7rem;

          .longPressOptionImages {
            height: 1.3rem;
            width: 1.3rem;
            cursor: pointer;
          }
        }
      }

      .sentMessageRowContainer2 {
        width: 90%;
        margin-left: 10%;
        display: flex;
        flex-direction: row-reverse;
        gap: 0.9rem;
        padding-bottom: 0.4rem;

        .userAvatarChatMessage {
          // height: 2.8rem;
          width: 2.8rem;
        }

        .sentMessageContainer {
          display: block;

          .sentMessage {
            display: flex;
            padding: 0.6rem 0.9rem;
            border-radius: 0.5rem 0.5rem 0.5rem 0;
            align-items: center;
            height: 2.5rem;
            font-size: 1rem;
            font-weight: 400;
            color: #222222;
            background-color: #e9e9e9;
          }

          .sentMessageTimeStamp {
            margin-top: 0.6rem;
            padding-right: 0.5rem;
            text-align: right;
            font-size: 0.7rem;
            color: #6b6b6b;
            font-weight: 400;
          }
        }

        .optionsContainer {
          display: flex;
          height: 2.8rem;
          justify-content: center;
          align-items: center;
          gap: 0.7rem;

          .longPressOptionImages {
            height: 1.3rem;
            width: 1.3rem;
            cursor: pointer;
          }
        }
      }

      .sentMessageContainerOnwards {
        display: flex;
        flex-direction: row;
        gap: 0.9rem;
        margin-left: 3.7rem;
        margin-top: 1rem;

        .sentMessageContainer {
          display: block;

          .sentMessage {
            display: flex;
            padding: 0.6rem 0.9rem;
            border-radius: 0.5rem 0.5rem 0.5rem 0;
            align-items: center;
            height: 2.5rem;
            font-size: 1rem;
            font-weight: 400;
            color: #222222;
            background-color: #e9e9e9;
          }

          .sentMessageTimeStamp {
            margin-top: 0.6rem;
            padding-right: 0.5rem;
            text-align: right;
            font-size: 0.7rem;
            color: #6b6b6b;
            font-weight: 400;
          }
        }
      }

      .receiveMessageContainer {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

        .receiveMessage {
          display: block;

          .receiveMessage {
            display: flex;
            padding: 0.6rem 0.9rem;
            border-radius: 0.5rem 0.5rem 0rem 0.5rem;
            align-items: center;
            height: 2.5rem;
            font-size: 1rem;
            font-weight: 400;
            color: #ffffff;
            background-color: #5448b2;
          }

          .receiveMessageTimeStampContainer {
            display: flex;
            flex-direction: row;
            margin-top: 0.6rem;
            align-items: center;
            justify-content: flex-end;

            .receiveMessageTimeStamp {
              padding-right: 0.3rem;
              text-align: right;
              font-size: 0.7rem;
              color: #6b6b6b;
              font-weight: 400;
            }

            .seenImage {
              height: 1rem;
              width: 1rem;
              object-fit: contain;
            }
          }

          .receiveMessageNoTimeStampContainer {
            margin-top: 0.6rem;
          }
        }
      }
    }

    .messageBox {
      display: flex;
      justify-content: space-between;
      align-items: center;
      bottom: 0;
      position: absolute;
      gap: 0.8rem;
      padding: 1.2rem;
      width: 100%;
      box-shadow: 10px 10px 8px 6px #888888;

      .messageInput {
        display: flex;
        flex: 1;
        justify-content: space-between;
        align-items: center;
        border-radius: 0.3rem;
        background-color: #f8f8f8;
        padding: 0.5rem 0.8rem;

        >input {
          width: 100%;
          outline: none;
          font-size: 1rem;
          border: none;
          padding: 0.2rem;
          background-color: inherit;
          color: black;
        }

        >p {
          color: #a9a9a9;
          cursor: pointer;
        }

        ::selection {
          background-color: #888888;
        }
      }

      .controlsMessageBox {
        display: flex;
        gap: 0.5rem;

        .attachment {
          flex: 1;
          padding: 0.5rem;
          border-radius: 100%;
          background-color: #5448b2;
        }

        .microphone {
          flex: 1;
          padding: 0.5rem;
          border-radius: 100%;
          background-color: #5448b2;
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .suggestedContent {
    grid-template-columns: 1fr;
    /* Two columns for medium-sized screens */
    max-width: fit-content;

    .comingSoonLeft {
      justify-self: start;
    }
  }
}

.comingSoonLeft {
  align-self: center;
  justify-self: end;
  padding: 61px 0px 26px 43px;
  text-align: start;
}

.comingSoonLeft h4 {
  color: var(--Primary, #5448b2);

  /* Title/Text */
  font-family: Poppins;
  font-size: 35px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 250px;
}

.comingSoonLeft p {
  color: var(--foundation-primary-primary-500, #5448b2);

  /* H1/Medium */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  /* 250% */
  letter-spacing: 2.4px;

  max-width: 380px;
}

.primaryText {
  color: var(--Foundation-Primary-primary-500, #5448b2);

  /* Small/Semibold */
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}

.blackText {
  color: var(--Default-body, #222);
  text-align: left;

  /* Small/Regular */
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 21px */
}

.blackText_16 {
  color: var(--Default-body, #222);

  /* Base/Medium */
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  /* 19.2px */
}

.dengetText {
  color: var(--Default-body, #DE0C0C);
  text-align: left;

  /* Small/Regular */
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 21px */
}

.black_300 {
  color: var(--Foundation-Body-body-300, #6b6b6b);
  text-align: left;

  /* Small/Regular */
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 21px */
}

.dropdm:hover {
  cursor: pointer;
}