.thumbnail{
    width: 45px;
    height: 45px;
    position: relative;
    margin-right: 5px;
}
.thumbnail img{
    border-radius: 50%;
}
.micOffIcon{
    position: absolute;
    right: -5px;
    bottom: -5px;
    color: #fff;
    background: #000;
    border-radius: 50%;
    padding: 4px;
}
.thumbnailParent{
    display: flex;
    align-items: center;
}
.nameHeartCount{
    margin-right: 5px;
    color: #fff;
}
.heartWrapper{
    border-radius: 50px;
    font-size: 20px;
    padding: 3px 10px;
    background: #fff;
}
.viewerTrend{
    color: #fff;
}
.bottomPanel{
    display: grid !important;
    font-size: 12px !important;
    color: #fff !important;
    text-transform: capitalize !important;
    min-width: auto !important;
    padding: 6px !important;
}
.listBackground{
    color: #fff;
    background: #212529;
}
.listBackground svg{
    margin-right: 10px;
}
.listSwitch{
    transform: scale(1.25);
}
.listSwitch:checked{
    background-color: #2eca45;
    border-color: #2eca45;
}
.buttonWidth{
    min-width: 100px;
    color: #fff;
    border: 1px solid rgb(255, 59, 92);
    background: rgb(255, 59, 92);
    border-radius: 8px;
    text-transform: capitalize;
    padding: 5px;
}
.creatorsView{
    max-height: 200px;
    overflow: scroll;
}
.requestBox{
    height: 350px; 
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.inviteButton{
    width: 100%;
    background: gray;
    color: #fff;
    border: 1px solid #fff;
}



// .darkTheme , .div_black > * 
div.darkTheme {
  background: rgb(18, 18, 18) !important;
  // color:white !important;
}



// div.darkTheme div.selected  {
//   background: rgb(198, 17, 17) !important;
//   // color:white !important;
// }
.darkTheme div {
  background: rgb(18, 18, 18) !important;
  // color:white !important;
  
}

.lightTheme div {
  background: white !important;
  // color:black !important;
  
}

div.darkTheme > p > h1, h2, h3, h4 , h6 {
  color:white !important;
}

div.darkTheme p{
  color:white ;
}

div.darkTheme .selected p{
  color:rgb(255, 59, 92) !important;
}

.darkThemeblack {
  background: black !important;
}

div.darkThemeblack div{
  background: black;
  color:white ;
}

div.darkThemeblack p{
  color: white;
}

.textWhiteColor{
  color:white;
}


.textBlackColor{
  color:black;
}

.darkTheme{
    svg, path{
        fill: #fff !important;
    };
}
.darkTheme .components{
background-color: #000 !important;
}
.darkTheme .SUBSCRIBEbTN{
    color: white !important;
    border-color: white !important;
}