 .coinsAmount {
     display        : flex;
     justify-content: center;
     align-items    : center;
     margin-bottom  : 2px;

     color     : var(--default-body, #222);
     text-align: center;

     /* Small/Semibold */
     font-family: Poppins;
     font-size  : 14px;
     font-style : normal;
     font-weight: 600;
     line-height: 120%;
     /* 16.8px */
 }


 .price {
     display        : flex;
     flex-direction : column;
     height         : 80px;
     // flex-shrink: 0;
     border-radius  : 4px;
     border         : 1px solid var(--foundation-primary-primary-50, #EEEDF7);
     background     : var(--default-white, #FFF);
     align-items    : center;
     justify-content: space-between;
     padding        : 16px 0px;
     // row-gap: 13px;
 }


 .price:hover {
     border    : 1px solid var(--foundation-primary-primary-500, rgb(255, 59, 92));
     background: var(--default-white, #FFF);
 }


 .coinsPrice {
     color     : var(--foundation-body-body-300, #6B6B6B);
     text-align: center;

     /* Small/Medium */
     font-family: Poppins;
     font-size  : 14px;
     font-style : normal;
     font-weight: 500;
     line-height: 150%;
     /* 21px */
 }