.checkboxIcon {
  left: 0px;
  position: absolute;
  top: 0px;
  border-radius: unset;
  border: 1px solid rgb(254, 44, 85);
  margin-inline-end: 8px;
  display: inline-block;
  background: rgb(254, 44, 85);
  transition: all 0.1s ease 0s;
  padding: 3px 0px;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  width: 22px;
  height: 22px;
}



/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

.chevron {
    transition: transform 0.3s ease-in-out;
}

.chevron.rotate {
    transform: rotate(180deg);
}

// ::-moz-selection {
//     /* Code for Firefox */
//     background: rgb(160, 158, 158);
// }

// ::selection {
//     background: rgb(160, 158, 158);
// }


.enableButton{
  background: rgb(254, 44, 85);
}