.root {
  display: grid;
  padding: 20px 40px;
  align-items: center;
  gap: 0%;
  width: 100%;
  background-color: #fff;
  grid-auto-flow: column;
}
.logo {
  width: 90px;
  height: 32px;
  flex-shrink: 0;
}
.searchBar-Div {
  width: 100%;
  margin-right: 200px;
  margin-left: 0px;
}
.searchPlusProfileDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.plusIconStyle {
  width: 58px;
}
.plusProfileDiv {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}
.loggedName {
  /* Base/Medium */
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 19.2px */
  // align-items: center;color:#fff;
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: start;
  align-content: center;
  justify-content: center;
  width: 100%;
  justify-items: start;
  align-self: center;
  min-width: auto;
}
.logoDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: start;
}
.nameDiv {
  display: flex;
  align-items: center;
  justify-items: center;
  align-content: center;
  justify-content: center;
  align-self: center;
  width: 100%;
  height: 100%;
  font-weight: 500;
}
