/* Base style */
.item-login-container {
    height: auto; /* Default height, if necessary */
}

/* Media queries ordered from largest to smallest */
@media only screen and (max-width: 1900px) {
    .item-login-container {
        height: 14rem; /* Adjust the height for screens up to 1900px */
    }
}

@media only screen and (max-width: 1800px) {
    .item-login-container {
        height: 25.5rem; /* Adjust the height for screens up to 1800px */
    }
}

@media only screen and (max-width: 1650px) {
    .item-login-container {
        height: 19rem; /* Adjust the height for screens up to 1650px */
    }
}

@media only screen and (max-width: 1550px) {
    .item-login-container {
        height: 22rem; /* Adjust the height for screens up to 1550px */
    }
}

@media only screen and (max-width: 1450px) {
    .item-login-container {
        height: 15rem; /* Adjust the height for screens up to 1450px */
    }
}

@media only screen and (max-width: 1400px) {
    .item-login-container {
        height: 11rem; /* Adjust the height for screens up to 1400px */
    }
}

@media only screen and (max-width: 1300px) {
    .item-login-container {
        height: 7rem; /* Adjust the height for screens up to 1300px */
    }
}
