// .container {
//   display: grid;
//   grid-template-rows: 1fr;
//   /* Split the container into two rows */
//   grid-template-columns: 1fr 1fr;
//   /* Single column */
//   width: 100%;
//   height: 100%;
//   overflow: visible;
// }

// .AuthSplashImg {
//   flex: 1;
//   margin: 0;
//   padding: 0;
//   background-color: #574d68;
//   background-repeat: no-repeat;
//   background-image: url('../../assets/authSplashBg.png');
//   background-position: 50%;
//   background-size: cover;
//   background-attachment: scroll;
//   background-clip: border-box;
//   display: grid;
//   justify-content: space-around;
//   align-items: center;
//   justify-items: center;
//   flex-direction: column;
//   background-origin: padding-box;
//   flex-wrap: wrap;
//   grid-template-columns: 1fr;
//   grid-auto-flow: row;
//   gap: 0px 0px;
//   position: relative;
// }

// .AuthForm {
//   flex: 1;
//   background-color: #ffffff;
//   display: flex;
//   flex-direction: column;
//   flex-wrap: wrap;
//   width: 100%;
//   justify-items: center;
//   align-content: center;
//   justify-content: center;
//   align-items: center;
// }

/* Resetting default margin and padding on the body and HTML elements */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

a {
  color: #5448b2;
  text-decoration: none;
}

/* Make the .container fill the entire viewport */
.container {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: 100%;
  // overflow: scroll; /* Prevent scrolling */
  height: 100vh;
}

/* Set a background color for AuthSplashImg */
.AuthSplashImg {
  flex: 1;
  margin: 0;
  padding: 0;
  background-color: #574d68;
  background-repeat: no-repeat;
  background-image: url('../../assets/authSplashBg.png');
  background-position: 50%;
  background-size: cover;
  background-attachment: scroll;
  background-clip: border-box;
  display: grid;
  justify-content: space-around;
  align-items: center;
  justify-items: center;
  flex-direction: column;
  background-origin: padding-box;
  flex-wrap: wrap;
  grid-template-columns: 1fr;
  grid-auto-flow: row;
  gap: 0px 0px;
  position: relative;
  overflow: hidden;
}

/* Ensure .AuthForm fills the entire viewport */
.AuthForm {
  flex: 1;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  justify-items: center;
  align-content: flex-start;
  justify-content: center;
  align-items: start;
  // overflow: auto; /* Prevent scrolling */
  position: relative;
  overflow-y: scroll;
}

.logoDiv {
  position: absolute;
  top: 45px;
  left: 45px;
  width: 104px;
  height: 37px;
  margin: 2px;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-self: start;
}

.footer {
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 0px;
  position: absolute;
  bottom: 45px;
  width: 80%;
  padding: 0px;
  column-gap: 45px;
}

.creatTitle {
  font-size: 35px;
  font-weight: 700;
  color: #574d68;
  margin-bottom: 40px;
  text-align: center;
}

.formContainer {
  margin-right: 80px;
  margin-left: 80px;
  margin-bottom: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  justify-content: center;
  width: 80%;
}

.LoginImg {
  width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  position: relative;
  padding: 0px;
}

.footer-paragraph {
  font-size: 16px;
  color: white;
  font-family: 'Poppins';
}

.formInputFields {
  background-color: #fdfdfd;
  border: 1px solid #d1d1d1;
  width: 100%;
  height: 48px;
  border-radius: 8px;
  padding-bottom: 12px;
  padding-top: 12px;
  padding-left: 16px;
  color: #6b6b6b;
  font-size: 16px;
}

.inputsDiv {
  display: grid;
  gap: 25px;
  // margin-bottom: 10px;
}

.formParagraph {
  // margin-top: 14px;
  color: var(--login-title, #574d68);
  text-align: center;

  /* Base/Regular */
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}

.p2 {
  color: var(--Foundation-Body-body-200, #999);
text-align: left;
  /* Small/Regular */
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
}

.signupSubmitBtn {
  text-align: center;
  margin: 32px 0px;
  width: 100%;
  background-color: #5448b2;
  border-radius: 6px;
  color: var(--Default-white, #fff);
  font-family: 'Poppins';
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 19.2px */
}

.splitLine {
  width: 40%;
  height: 0px;
}

.splitLinesDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
  margin-bottom: 20px;
}

.afterTheFormDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  // margin-bottom: 50px;
  width: 80%;
  justify-content: center;
  margin-left: 0px;
  margin-right: 0px;
}

// .socialLoginsDiv {
//   display: grid;
//   flex-direction: row;
//   align-items: center;
//   justify-items: center;
//   justify-content: center;
//   flex-wrap: wrap;
//   margin-right: 0px;
//   margin-left: 0px;
//   width: 60%;
//   gap: 1px 16px;
//   grid-auto-flow: column;
//   align-content: center;
// }

.socialLoginIcon {
  width: 40px;

  &:focus {
    opacity: 0.9;
  }
}

.boldLinkText {
  font-weight: 700;
  font-size: 16px;
  color: #5448b2;
  text-decoration: none;
}
.linkText {
  font-family: 'Poppins';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
  color: #5448b2;
  text-decoration: none;
  cursor: pointer;
}

.getTheAppText {
  color: var(--login-title, #574d68);
  text-align: center;
  font-family: 'Poppins';
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 24px */
  margin-top: 40px;
  margin-bottom: 24px;
}

.appStoresDiv {
  display: grid;
  flex-direction: row;
  // flex-wrap: wrap;
  align-items: center;
  justify-items: center;
  grid-auto-flow: column;
  column-gap: 10px;
  margin-bottom: 123px;
}

.appStoreBtn {
  width: 130px;
}

.footer-p-lightBg {
  color: #6b6b6b;
  font-size: 16px;
  font-family: 'Poppins';
}

.footerLightBg {
  display: flex;
  grid-auto-flow: column;
  gap: 10px 45px;
  margin-bottom: 45px;
  // margin-bottom: 30px;
  flex-direction: row;
  // align-items: center;
  flex-wrap: wrap;
  justify-items: center;
  justify-content: center;
  font-size: 16px;
  font-family: 'Poppins';
  // position: absolute;
  // bottom: 45px;
}

.splashImgDiv {
  position: relative;
  padding: 0px 0px 50px;
  margin-bottom: 100px;
  margin-top: 100px;
}

.socialLoginIconBtn {
  outline: none;
  padding-left: 0em;
  padding-bottom: 0em;
  padding-right: 0em;
  border: 0px solid transparent;
  border-radius: 0%;
  background-color: transparent;
}

.socialLoginIconBtn:focus {
  outline: none;
}

.langSelector {
  position: relative;
  margin: 0px;
  padding: 0;
  // margin-left: 30px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;

  display: inline-block;
  align-items: start;
  text-align: start;
  font-feature-settings: 'salt' on, 'liga' off;

  color: #6b6b6b;
  background: transparent;
  border: none;
}

.langSelector.show {
  position: relative;
  margin-top: 0px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  /* identical to box height, or 26px */

  display: flex;
  align-items: center;
  text-align: center;
  font-feature-settings: 'salt' on, 'liga' off;

  color: rgba(255, 255, 255, 0.85);
  background: transparent;
  border: none;
}

.dropdown-menu {
  display: none;
  border: none;
  left: 5%;
  /* position */
  position: relative;
  top: 20px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  align-items: center;
  font-feature-settings: 'salt' on, 'liga' off;
  margin: 0;
  padding: 0;
  color: transparent;
}

.dropdown-menu::before {
  display: flex;
  border: none;
  content: '';
  left: 5%;
  position: absolute;
  top: -20px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 150%;
}

.dropdown-menu::after {
  border: none;
  content: '';
  display: flex;
  left: 5%;
  position: absolute;
  top: -20px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 150%;
}

@media screen and (max-width: 1293px) {
  .footer {
    position: absolute;
    bottom: 47px;
  }

  .footer-paragraph {
    font-size: 14px;
  }

  .footer-p-lightBg {
    // font-size: 14px;
  }

  .langSelector {
    font-size: 14px;
  }
}

@media screen and (max-width: 986px) {
  .container {
    display: flex;
    // grid-template-rows: 0fr 1fr;
    /* Two rows */
    // grid-template-columns: 1fr;
    /* One Column */
    max-height: 100vh;
    overflow: auto;
  }

  .AuthSplashImg {
    display: none;
  }

  .LoginImg {
    width: 80%;
    margin-top: 100px;
  }

  .footer {
    margin-bottom: 20px;
    bottom: auto;
    position: relative;
  }

  .footer-paragraph {
    font-size: 14px;
  }

  .footer-p-lightBg {
    // font-size: 14px;
  }

  .langSelector {
    font-size: 14px;
  }
  .footerLightBg {
    margin-bottom: 20px;
    bottom: auto;
    position: relative;
  }
}

@media screen and (max-width: 768px) {
  .container {
    // display: grid;
    // grid-template-rows: 1fr 1fr;
    /* Two rows */
    // grid-template-columns: 1fr;
    /* One Column */
    max-height: 100vh;
  }

  .LoginImg {
    width: 80%;
    margin-top: 100px;
  }

  .footer {
    margin-bottom: 20px;
  }

  .footer-paragraph {
    font-size: 10px;
  }

  .footer-p-lightBg {
    // font-size: 14px;
  }

  .langSelector {
    font-size: 14px;
  }
}

@media screen and (max-width: 550px) {
  .container {
    // display: grid;
    // grid-template-rows: 1fr 1fr;
    /* Two rows */
    // grid-template-columns: 1fr;
    /* One Column */
    max-height: 100vh;
  }

  .AuthSplashImg {
    height: 100vh;
  }

  .AuthForm {
    height: 100vh;
  }
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: #ff3d00;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.authInputFields {
  width: 100%;
}

.formForgotPassword {
  margin-top: 16px;
  display: flex;
  justify-content: end;
}

.or {
  color: var(--Foundation-Neutral-neutral-600, #a9a9a9);
  font-family: 'Poppins';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
}

.plateforms {
  width: 39.924px;
  height: 39.924px;
  flex-shrink: 0;
  border-radius: 500px;
  border: 3px solid rgba(98, 131, 202, 0.05);
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
