@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Playfair+Display:wght@400;600&family=Poppins:wght@100;300;400;500;600;700&family=Source+Sans+Pro:wght@400;700&display=swap');

.App {
  font-family: 'Poppins';
  margin: 0;
  padding: 0rem;
  text-align: center;
  width: 100vw;
  height: 100vh;
  position: relative;
  max-width: none;
  overflow: auto;
  background: #FAFAFA;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.MuiList-root{
  background: transparent !important;
}

.logoutPopup{
  position: relative;
  border-radius: 8px;
  margin: auto;
  transition: 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transform: none;
  background-color: rgb(255, 255, 255);
}

.DivButtonWrapper{
  display: flex;
  width: 265px;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin-top: 16px;
}

.StyledLogoutCancelButton{
    margin: 6px;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    color: rgb(22, 24, 35);
    border-color: rgba(22, 24, 35, 0.12);
    background-color: rgb(255, 255, 255);
    min-width: 86px;
    min-height: 28px;
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
    font-family: TikTokFont, PingFangSC, sans-serif;
    display: flex;
    position: relative;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    user-select: none;
    cursor: pointer;
    box-sizing: border-box;
    right: 0px;
    width: 164px;
    height: 48px;
    padding: 0px 10px;
}

.StyledLogoutButton{
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  color: rgb(254, 44, 85);
  border-color: rgb(254, 44, 85);
  background-color: rgb(255, 255, 255);
  min-width: 86px;
  min-height: 28px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 600;
  font-family: TikTokFont, PingFangSC, sans-serif;
  display: flex;
  position: relative;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  user-select: none;
  cursor: pointer;
  box-sizing: border-box;
  right: 0px;
  width: 164px;
  height: 48px;
  padding: 0px 10px;
}