.shortSideBar {
  border-radius: 16px;
  background: var(--Default-white, #fff);
  box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.03);
  display: flex;
  width: 87px;
  padding: 16px;
  margin: 40px;
  height: fit-content;
  flex-direction: column;
  align-items: flex-start;
}

.shortSideBar > div {
  padding: 16px;
  border-radius: 6px;
  cursor: pointer;
}
.shortSideBar > div:nth-child(2) {
  background: #5448b2;
}
// .shortSideBar > div:hover {
//   background: #5448b2;
// }

// .darkTheme , .div_black > * 
div.darkTheme {
  background: rgb(18, 18, 18) !important;
  // color:white !important;
}



// div.darkTheme div.selected  {
//   background: rgb(198, 17, 17) !important;
//   // color:white !important;
// }
.darkTheme div {
  background: rgb(18, 18, 18) !important;
  // color:white !important;
  
}

.lightTheme div {
  background: white !important;
  // color:black !important;
  
}

div.darkTheme > p > h1, h2, h3, h4  {
  color:white !important;
}

div.darkTheme p{
  color:white !important;
}

div.darkTheme input{
  background: rgb(255, 255, 255) !important;
  color:black !important;
}

.darkThemeblack {
  background: black !important;
}

div.darkThemeblack div{
  background: black !important;
  color:white !important;
}

div.darkThemeblack p{
  color: white !important;
}


