.actionsOnLongP {
  position: absolute;
  display: flex;
  align-items: flex-start;
  gap: 16px;
  margin-top: 15px;
  position: absolute;
  z-index: 2;
}
.actionsOnLongP > img {
  cursor: pointer;
}
.showEmogis {
  display: flex;
  width: fit-content;
  gap: 10px;
  padding: 10px 10px;
  // background: #eeedf7;
  border-radius: 50px;
  justify-content: space-evenly;
  align-items: center;
  height: 41px;
  position: absolute;
  top: -50px;
  // left: 50%;
  z-index: 99;
}
.showEmogisr {
  display: flex;
  width: fit-content;
  gap: 10px;
  padding: 10px 10px;
  // background: #eeedf7;
  border-radius: 50px;
  justify-content: space-evenly;
  align-items: center;
  height: 41px;
  position: absolute;
  top: -50px;
  right: 50%;
  z-index: 99;
}
.right {
  right: 100%;
}
.showEmogis > p, .showEmogisr > p {
  cursor: pointer;
  transform: scale(1.2);
}
.showEmogis > p:hover, .showEmogisr > p:hover {
  transform: scale(1.4);
}
.plusemogi {
  color: rgb(255, 59, 92);
  text-align: center;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.dropd {
  width: 11rem;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  // height: 38px;
  border-radius: 8px;
  position: absolute;
  top: 42px;
  z-index: 200;
  box-shadow: 0px 0px 4px 4px rgba(200, 200, 200, 0.1);
  overflow: hidden;
}

.dropd > div {
  display: flex;
  gap: 8px;
  padding: 0 10px;
  height: 3rem;
  align-items: center;
  &:hover{
    background-color: #f2f5f9;
  }
}
.hr {
  // background: #eaeaea;
  margin: 0%;
  height: 1px;
  width: 100%;
}
.dropdText {
  text-align: left;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  cursor: pointer;
  padding: 5px 10px;
  line-height: 150%;
}

.msgsContainer {
  overflow: hidden;
  overflow-y: scroll;
  flex: 1;
  padding: 24px 24px 24px 24px;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
  gap: 17px;
  // padding-bottom: 6rem;
  .subContent {
    display: flex;
    gap: 6px;
    justify-content: flex-end;
    align-items: center;
  }

  .subContent > p {
    color: #6b6b6b;
    text-align: right;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
  }
  .msgContainer {
    display: flex;
    gap: 16px;
    position: relative;
  }
  .msg {
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: relative;
  }
  .avatar {
    width: 32px;
    height: 32px;
    flex-shrink: 0;
    border-radius: 50px;
  }
  .sendedMsg {
    color: #000;
    background: linear-gradient(73.71deg, rgba(0, 0, 0, 0) 80.01%, rgba(0, 0, 0, 0.55) 116.4%);
    background-color: #f4f4f4;
    border: 1px solid rgba(22, 24, 35, 0.12);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    // display: flex;
    padding: 12px 25px 12px 16px;
    // align-items: flex-start;
    gap: 10px;
    border-radius: 10px 10px 0px 10px;
    word-break: break-all;
    cursor: pointer;
    text-align: left;
  }
  .receivedMsg {
    color: #222;
    border: 1px solid rgba(22, 24, 35, 0.12);
    background: linear-gradient(73.71deg, rgba(0, 0, 0, 0) 80.01%, rgba(0, 0, 0, 0.55) 200%);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    // display: flex;
    padding: 12px 25px 12px 16px;
    // align-items: flex-start;
    gap: 10px;
    border-radius: 10px 10px 10px 0px;
    word-break: break-all;
    cursor: pointer;
    text-align: left;
  }
}
.tempparent {
  border-radius: 10px 10px 0px 10px;
  // background: var(--Foundation-Primary-primary-500, rgb(255, 59, 92));
  background: rgba(22, 24, 35, 0.06);
  display: flex;
  flex-direction: column;
  width: 100%;
  // width: 239px;
  padding: 8px 6px;
  align-items: flex-end;
  gap: 10px;
  flex-shrink: 0;
  cursor: pointer;
}
.tempparent > div:nth-child(1) {
  padding: 8px 12px;
  width: 100%;
  border-radius: 4px;
  // background: var(--Foundation-Primary-primary-50, #eeedf7);
  background: #fff;
}
.tempparent > div:nth-child(2) {
  padding: 0px 16px;
}

.primaryText {
  // color: var(--Foundation-Primary-primary-500, rgb(255, 59, 92));
  text-align: left;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}
.prevmsg {
  color: var(--Default-body, #222);
  text-align: left;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  word-break: break-all;

  line-height: 150%;
}
.ans {
  text-align: left;
  color: var(--Default-body, #222);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  width: 100%;
  font-weight: 400;
  line-height: normal;
  word-break: break-all;
}
.avatarLike{
  width: 17px;
  height: 17px;
  border-radius: 50%;
}
.emojiShowed{
  position: absolute;
  left: 16px;
  bottom: -10px; 
  z-index: 999;
}
.overrideTop{
  top: 2.1rem !important;
}