.doMsgContainer {
  position: relative;
  display: flex;
  padding: 10px 10px  10px 0px;
  gap: 16px;
  justify-content: space-between;
  // background: #fff;
  box-shadow: 0px -4px 20px 0px rgba(0, 0, 0, 0.05);
  button:hover{
    border-color: transparent !important;
  }
}
.doMsgContainer > form {
  display: flex;
  height: 48px;
  padding: 0px 16px;
  align-items: center;
  // gap: 20px;
  flex-shrink: 0;
  border-radius: 4px;
  background: transparent;
  justify-content: space-between;
  flex: 1;
  input {
    border: 0;
    outline: 0;
    color: #a9a9a9;
    background: transparent;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    width: 100%;
  }
  p {
    color: #a9a9a9;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    cursor: pointer;
  }
}
.doMsgContainer > div:nth-child(2) {
  display: flex;
  align-items: center;
  gap: 8px;
}
.actions {
  width: 38px;
  height: 38px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(255, 59, 92);
  border-radius: 50%;
  cursor: pointer;
}
.sendIcon {
  color: rgb(255, 59, 92);
  transform: rotate(330deg);
  margin-bottom: 10px;
  cursor: pointer;
}
.filetype {
  width: 15px;
  opacity:0;
  position:absolute;
}

.popupbackground{ 
  display: flex;
  padding: 32px;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  border-radius: 8px;
  width: 400px;
  height: 450px;
  outline: 0;
  padding: 32px;
  flex-direction: column;
  margin:25vh auto;
}

.popupbackground > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

.sendBtn{
  color: #fff;
  background-color:rgb(255, 59, 92);
}

.sendBtn:disabled {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
}
.imagePopupInner{
  height: 17rem;
  width: 100%;
  background-color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  display: block !important;
  padding: 1rem;
  overflow-y: auto;
}
.btnHide{
  position: absolute;
  right: 0.75rem;
  top: 0.75rem;
  padding: 0 !important;
}
.gridImages{
  display: grid;
grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));
  gap: 10px;
}
.BtnsaddRemove{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  position: sticky;
  top: 0;
}
.btnAddMore{
    display: flex ;
    width: 7rem;
    justify-content: space-between;
    padding: 0.4rem 0.7rem;
    background-color: #f5f5f5;
    border-radius: 2rem;
}
.replyUser{
  color: rgb(255, 44, 85);
  font-weight: 500 !important;
  
}
.replyMsg{
  background-color: rgba(248, 248, 248, 1);
  border-radius: 0.5rem;
  text-align: left;
  padding: 0.6rem;
  p{
    color: #858585;
    font-weight: 500;
    
  }
}
.replyClose{
  position: absolute;
  top: 0.5rem;
  right: 0;
  outline: none !important;
  border: 0 !important;
}

.darkReply{
  background: #a9a9a9;
}

.selectedGiftPreview {
  width: 8rem;
  position: relative;
  box-shadow: 1px 1px 1px #e4e6eb;
  border: 1px solid #e4e6eb;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.selectedGiftButton{
  position: absolute;
  top: -5px;
  right: 0px;
  padding: 0;
  border: 0;
}
