.parent {
  width: 380px;
  padding:1.5rem 1rem 0rem 1rem;
  display: flex;
  flex-direction: column;
  background: var(--Default-white, #fff);
  box-shadow: -6px 0px 20px 0px rgba(0, 0, 0, 0.03);
  .header {
    display: flex;
    height: 1.5rem;
    justify-content: space-between;
  }
  .header > div:nth-child(1) {
    gap: 0.5rem;
    display: flex;
  }
  .header > div > img:nth-child(1) {
    height: 1rem;
    width: 1.5rem;
    transform: rotate(180deg);
    flex-shrink: 0;
    display: block;
    cursor: pointer;
    margin: auto 0px;
  }
  .header > div > p:nth-child(2) {
    color: var(--Default-body, #222);
    font-family: Poppins;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
  }
  .emptyContainer {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .emptyContainer > img:nth-child(1) {
    width: 3rem;
    height: 3rem;
    margin-bottom: 1.5rem;
  }
  .emptyContainer > p:nth-child(3) {
    margin-top: 0.5rem;
    padding: 0px 1rem;
  }
  .contentParent {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: '1.5rem';
    flex: 1;
    overflow: hidden;
  }
  .staredMsgsParent {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: scroll;
    gap: 1.5rem;
    .msgParent {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .avatar {
        width: 2.5rem;
        height: 2.5rem;
        flex-shrink: 0;
        border-radius: 2.5rem;
      }
    }
    .msgParent > div:nth-child(1) {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }
    .gray_300 {
      color: var(--Foundation-Body-body-300, #6b6b6b);
      text-align: right;
      font-family: 'Poppins';
      font-size: 0.75rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
   
    .text_400 {
      color: #000;
      text-align: center;
      font-family: Poppins;
      font-size: 0.875rem;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
    }
    .staredChats {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      margin-top: 1rem;
    }
    .staredChats > div > div:nth-child(1) {
      max-width: 70%;
    }
    .isreceived {
      display: flex;
      padding: 0.75rem 1rem;
      // background: var(--Foundation-Neutral-neutral-100, #eaeaea);
      align-items: flex-start;
      gap: 0.625rem;
      min-width: 4rem;
      //   width: fit-content;
      word-break: break-all;
      border-radius: 0.625rem 0.625rem 0.625rem 0rem;
      margin-left: 2rem;
      text-align: left;
    }
    .userstarMsg {
      display: flex;
      padding: 0.75rem 1rem;
      background: var(--Foundation-Neutral-neutral-100, rgb(255, 59, 92));
      align-items: flex-start;
      gap: 0.625rem;
      min-width: 4rem;
      //   width: fit-content;
      color: #fff;
      word-break: break-all;
      border-radius: 0.625rem 0.625rem 0.625rem 0rem;
      margin-left: 2rem;
      text-align: left;
    }
    .chat {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }
    .chat > img:nth-child(2) {
      padding: 0.3125rem;
      width: 1.7rem;
      height: 1.7rem;
      cursor: pointer;
      margin: 1rem 0px;
    }

    // margin-top: 1.5rem;
  }
  .tempparent {
    margin-left: 2rem;
    border-radius: 10px 10px 0px 10px;
    background: var(--Foundation-Primary-primary-500, rgb(255, 59, 92));
    display: flex;
    flex-direction: column;
    width: 100%;
    // width: 239px;
    padding: 8px 6px;
    align-items: flex-end;
    gap: 10px;
    flex-shrink: 0;
    cursor: pointer;
  }
  .tempparent > div:nth-child(1) {
    padding: 8px 12px;
    width: 100%;
    border-radius: 4px;
    background: var(--Foundation-Primary-primary-50, #eeedf7);
  }
  .tempparent > div:nth-child(2) {
    padding: 0px 16px;
  }

  .primaryText {
    color: var(--Foundation-Primary-primary-500, rgb(255, 59, 92));
    text-align: left;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
  }
  .prevmsg {
    color: var(--Default-body, #222);
    text-align: left;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    word-break: break-all;

    line-height: 150%;
  }
  .ans {
    text-align: left;
    color: var(--Default-white, #fff);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    width: 100%;
    font-weight: 400;
    line-height: normal;
    word-break: break-all;
  }
  .done {
    color: var(--Foundation-Primary-primary-500, rgb(255, 59, 92));
    font-family: Poppins;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    cursor: pointer;
    user-select: none;
  }

  .bottomSide {
    display: flex;
    justify-content: space-between;
    // width: 23.75rem;
    height: 3.5rem;
    flex-shrink: 0;
    background: var(--Default-white, #fff);
    box-shadow: 0px -4px 20px 0px rgba(0, 0, 0, 0.03);
    padding: 1rem 1.5rem;
  }
  .bottomSide > img{
    cursor: pointer;
    width: 1.5rem;
    height: 1.5rem;
  }
  .text_500 {
    color: #000;
    font-family: Poppins;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
  }
}
